/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "Raleway";
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 33px;
}
h3 {
  font-size: 32px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
i {
  color: #FF5A5F;
}
p {
  font-size: 22px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0px 22px 10px -22px rgba(0, 0, 0, 0.25);
}
@media  (max-width: 500px)  {
  .navigation {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.navigation .navLogo {
  height: 47px;
  margin: 41px 54px;
  width: 50%;
}
@media  (max-width: 500px)  {
  .navigation .navLogo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
}
.navigation .navLogo p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #FF5A5F;
}
@media  (max-width: 500px)  {
  .navigation .navLogo p {
    font-size: 30px;
    padding: 0;
  }
}
.navigation .navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 47px;
  margin: 41px 54px;
  width: 50%;
}
@media  (max-width: 500px)  {
  .navigation .navLinks {
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
  }
}
.navigation .navLinks a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: #FF5A5F;
}
@media  (max-width: 500px)  {
  .navigation .navLinks a {
    font-size: 30px;
  }
}
.how {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 22px 10px -22px rgba(0, 0, 0, 0.25);
}
@media  (max-width: 500px)  {
  .how {
    width: 500px;
  }
}
.how .how-header {
  padding: 50px;
  font-family: "Raleway";
}
.how .boxes {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 50px;
  font-family: "Raleway";
}
@media  (max-width: 500px)  {
  .how .boxes {
    display: flex;
    flex-direction: column;
  }
}
.how .boxes .box {
  width: 25%;
  margin: 30px;
  padding: 20px;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
}
@media  (max-width: 500px)  {
  .how .boxes .box {
    width: auto;
  }
}
.contact-wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 30px;
  background-color: #FF5A5F;
  color: #ffff;
  line-height: 2;
}
@media  (max-width: 500px)  {
  .contact-wrapper {
    width: 500px;
    padding: 30px 10px;
  }
  .contact-wrapper h3 {
    font-size: 30px;
  }
  .contact-wrapper p {
    font-size: 20px;
  }
}
.contact-wrapper i {
  color: #ffff;
}
.contact-wrapper .socialIcons {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
