.contact-wrapper{
    width: @desktop-width;
    margin: 0 auto;
    padding:50px;
    background-color:@main-color;
    color: #ffff;
    line-height: 3;
        // .contact-header
        // .contact
        i{
            color: #ffff;
        }
}

