//Global styles
h1{
    font-size: 46px;
    font-family: @main-font-family;
}
h2{
    font-size: 38px;
    font-family: @main-font-family;
    line-height: 45px;
    margin-bottom: 33px;
}
a{
    text-decoration: none;
}
i{
    color: @main-color;
}