// Home Content
//section 1
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 144px 344px 59px;
    height: 453px;
    margin: 0 auto;
    width: 751px;
    box-shadow: @bottom-shadow;
    text-align: center;
}
.content{
    width: 751px;
    padding-bottom: 73px;
    line-height: 54px;
}
.home-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 341px;
    height: 62px;
    background-color:@main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.home-button a{
    font-family: @main-font-family;
    font-size: 30px;
    line-height: 35px;
    color: #ffff;

}
//Section 2
.middle-content{
    width: @desktop-width;
    margin: 0 auto;
    height: 442px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.columnOne, .columnTwo{
    width: 420px;
    height: 270px;
    box-shadow: @box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

