//Navigation here
.navigation{
    display: flex;
    justify-content: space-between;
    width: @desktop-width;
    height: 129px;
    margin: 0 auto;
    box-shadow: @bottom-shadow;
}
.navLogo, .navLinks{
    .nav-spacing();
}
.navLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navLogo p{
    .nav-text-design();
}
.navLinks a{
    .nav-text-design();
}